@CHARSET "UTF-8";

#calendar {
	width: 9.067rem;
    margin: 0.133rem 0 0.267rem 0;
    color: #555;
}

th{
	text-align: center;
}

#calendar h4 {
	border-bottom: 2px solid #5bd999;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 10px 0;
}

#calendar .sign_tab {
	text-align: center;
    width: 8.26rem;
    margin-left: 0.94rem;
    margin-top: 0.6rem;
    font-weight: bold;
    font-size: 0.2rem;
    border-spacing: 0.02rem;
    empty-cells: show;
    border-collapse: collapse;
}

#calendar .sign_tab th {
	background: #cb6c03;
    color: white;
}

#calendar .sign_tab td {
	border: 0.03rem solid #e3dcb7;
    background: #ffffff;
    width: 14%;
    height: 0.32rem;
}

/*#calendar .sign_tab td.over {
	background-color: #f3f3f3;
	border-left: 0;
	border-right: 0;
}*/

#calendar .sign_tab td.red_tbg {
	/*background-color: #f61a48;*/
	background: url(../img/signcheck.png) no-repeat  #fff;
	background-position: center;
	background-size: 60% 100%;
}

#calendar .sign_tab td.cur_day {
	background-color: #FFD2D2;
	color: #FFF;
}